.aider*
.env
temp.wav
__pycache__
.venv
.python-version
my_app.egg-info
*.lock
.DS_Store
.idea
.pytest_cache
.coverage
.mypy_cache
.ruff_cache
.pytype
.mypy_cache
.pyre
.pyright
__pypackages__
\_pypackages\_
.cache
.pytest_cache

.venv.wsl
